.header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(174.69deg, rgba(0, 0, 0, 0.57) 4.25%, rgba(0, 0, 0, 0) 129.93%), url(../images/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Work Sans", sans-serif;
  position: relative;
}

.header__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 41px 125px;
}

.header__links {
  margin-top: -10px;
}

.header__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px;
  margin: 0px 10px;
  border-radius: 32px;
  height: 33px;
  line-height: 33px;
  border: 1px solid transparent;
}

.header__logo {
  max-width: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 80px;
}

.header__header {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__phone a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0px 5px;
  text-decoration: none;
}

.header__arrow {
  position: absolute;
  bottom: 53px;
  width: 36px;
  left: 50%;
  margin-left: -18px;
}

.header__call {
  height: 16px;
}

.header__link:hover {
  border: 1px solid white;
}

ul li {
  list-style-type: none;
}

.invitation {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 0px 125px;
}

.invitation__header1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-top: 120px;
}

.invitation__description {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 46px;
  max-width: 780px;
}

.invitation__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -130px;
}

.invitation__gallery img {
  margin: 10px;
  border-radius: 15px;
}

.invitation__gallery-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.invitation__gallery-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invitation__gallery1 {
  width: 205px;
  height: 306px;
}

.invitation__gallery2 {
  width: 237px;
  height: 356px;
}

.invitation__gallery3 {
  width: 356px;
  height: 237px;
}

.invitation__gallery4 {
  width: 238px;
  height: 356px;
}

.invitation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 69px;
}

.invitation__benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 326px;
}

.invitation__number {
  font-weight: bold;
  font-size: 96px;
  color: #e2e2e2;
  margin-top: -20px;
  font-family: "Work Sans", sans-serif;
  width: 65px;
}

.invitation__advantage {
  margin-left: 11px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  max-width: 210px;
  color: #000000;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
}

.invitation__team-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 87px;
  margin-bottom: 120px;
}

.invitation__position {
  max-width: 200px;
  text-align: center;
  margin: 0 auto;
}

.invitation__title {
  text-align: center;
  margin-top: 21px;
}

.invitation__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 200px;
}

.invitation__team1 {
  height: 239px;
}

.invitation__team-member {
  width: 219px;
  height: 219px;
  /* left: 36px; */
  /* top: 6px; */
  background: #f3f3f3;
  border-radius: 50%;
  margin-bottom: 30px;
}

.price {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 0px 125px;
  margin-bottom: 82px;
}

.price__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 46px;
}

.price__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
}

.price__item {
  max-width: 560px;
  margin-bottom: 38px;
}

.examples {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 0px 125px;
}

.examples__header1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.examples__more {
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 auto;
}

.examples__more:hover {
  border: 1px solid white;
  background: black;
  color: white;
}

.examples__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 46px;
}

.examples__wrapp img {
  width: 339px;
  height: 339px;
  border-radius: 15px;
  margin-bottom: 40px;
}

.examples__wrapp-item {
  width: 339px;
}

.examples__name {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 5px;
}

.examples audio {
  margin-bottom: 10px;
  width: 100%;
}

.examples__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
}

.examples__numbers1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}

.examples__number {
  font-size: 200px;
  text-align: center;
}

.examples__text {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.examples__text_left {
  text-align: left;
  margin-bottom: -40px;
  margin-right: 30px;
}

.examples__numbers1 {
  margin-right: 300px;
}

.examples__wrapp_active {
  display: none;
}

.active-alb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new-rect {
  fill: black;
}

.contacts {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(175.77deg, #000000 3.45%, rgba(0, 0, 0, 0) 102.3%), url(../images/back2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 551px;
  margin-top: 46px;
  margin-bottom: 76px;
  padding: 58px 135px;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.contacts__info span {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.contacts__info p {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 6px;
  margin-top: 5px;
}

.contacts__header {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 64px;
  margin-bottom: 36px;
}

.contacts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 825px;
}

.contacts__inputs-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__input {
  width: 377px;
  height: 56px;
  border-radius: 15px;
  border: none;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding-left: 36px;
  color: #616161;
}

.contacts__textarea {
  width: 377px;
  height: 142px;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  line-height: 22px;
  padding-left: 19px;
  padding-top: 18px;
  color: #616161;
}

.contacts button {
  width: 189px;
  height: 51px;
  background: #f44336;
  -webkit-box-shadow: 4px 4px 4px rgba(244, 67, 54, 0.25);
          box-shadow: 4px 4px 4px rgba(244, 67, 54, 0.25);
  border-radius: 41px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  border: none;
}

.contacts button:hover {
  background: grey;
  -webkit-transition: 1s background;
  transition: 1s background;
}

.contacts__button-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #545454;
  font-family: "Poppins", sans-serif;
  min-height: 96px;
  position: relative;
}

.footer__line {
  border: 1px solid #ffffff;
  margin-top: 19px;
  margin-bottom: 11px;
}

.footer__wrapp {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -720px;
  top: 40px;
}

.footer__text {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  padding-left: 140px;
}

@media (max-width: 1282px) {
  .examples .examples__wrapp-item {
    width: 30%;
  }
  .examples .examples__wrapp img {
    width: 100%;
    height: auto;
  }
  .invitation .invitation__gallery {
    margin-top: -80px;
  }
  .header {
    background-size: cover;
  }
  input.contacts__input {
    min-width: 260px;
    width: auto;
  }
  .examples__number {
    font-size: 160px;
  }
  .contacts {
    background-size: cover;
  }
  .invitation__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .invitation__gallery1 {
    width: 125px;
    height: 220px;
  }
  img.invitation__gallery2 {
    width: 125px;
    height: 220px;
  }
  img.invitation__gallery3 {
    width: 252.08px;
    height: 167.82px;
  }
  img.invitation__gallery4 {
    width: 125px;
    height: 220px;
  }
  .invitation__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .examples .examples__wrapp-item {
    width: 48%;
    margin-bottom: 80px;
  }
  .examples__wrapp {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .examples__number {
    font-size: 150px;
  }
}

@media (max-width: 1200px) {
  .footer__wrapp {
    left: 0;
    margin-left: 0;
  }
}

@media (max-width: 960px) {
  .header__item1 {
    padding: 41px 22px;
  }
  .header__logo {
    max-width: 60%;
  }
  .invitation {
    padding: 0px 22px;
  }
  div#price {
    padding: 0px 22px;
  }
  .examples {
    padding: 0px 22px;
  }
  .contacts {
    padding: 50px 22px;
  }
  .footer__text {
    padding-left: 22px;
  }
}

@media (max-width: 770px) {
  .invitation__header1 {
    margin-top: 80px;
  }
  .invitation__description {
    margin-top: 22px;
  }
  .invitation__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .invitation .invitation__gallery {
    margin-top: 0px;
  }
  .invitation__benefits-wrapp {
    margin: 0 auto;
  }
  .invitation__gallery-2 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .invitation__gallery1 {
    width: 30%;
    height: auto;
  }
  .invitation__team-wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .invitation__team-member {
    margin: 0 auto;
  }
  .invitation__team-item {
    margin-bottom: 57px;
  }
  .invitation__team-wrapp {
    margin-bottom: 84px;
  }
  .price__item {
    max-width: 100%;
  }
  .examples .examples__wrapp-item {
    width: 60%;
    margin: auto;
  }
  .examples__numbers {
    margin-top: 84px;
  }
  .examples__number {
    font-size: 100px;
  }
  .contacts__header {
    margin-top: 0px;
  }
  .contacts__inputs-wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input.contacts__input {
    width: 377px;
  }
  .contacts__button-wrapp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .contacts__inputs {
    margin: auto;
  }
  textarea.contacts__textarea {
    margin: auto;
  }
  nav {
    display: block;
    position: absolute;
    right: 10px;
  }
  #menu {
    display: none;
  }
}

@media (max-width: 555px) {
  .examples .examples__wrapp-item {
    width: 100%;
  }
  .examples__numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .examples__numbers1 {
    margin-top: 30px;
    margin-right: 0px;
  }
  .examples__number-item {
    margin-top: 30px;
  }
  .examples__text_left {
    margin-bottom: -20px;
  }
  .contacts__textarea {
    width: 100%;
  }
  .contacts__inputs {
    width: 100%;
  }
  input.contacts__input {
    width: 100%;
  }
  img.invitation__gallery3 {
    width: 200px;
    height: 140px;
  }
}

@media (max-width: 410px) {
  img.invitation__gallery3 {
    width: 170px;
    height: 120px;
  }
  img.invitation__gallery4, img.invitation__gallery1, img.invitation__gallery2 {
    width: 105px;
    height: 180px;
  }
}

@media (max-width: 350px) {
  img.invitation__gallery3 {
    width: 130px;
    height: 100px;
  }
  img.invitation__gallery4, img.invitation__gallery1, img.invitation__gallery2 {
    width: 95px;
    height: 130px;
  }
}

button.ham {
  display: none;
  background: none;
  border: none;
}

@media screen and (max-width: 755px) {
  .header__links {
    display: none;
  }
  button.ham {
    display: block;
  }
}

.ham {
  position: fixed;
  /* keep the hamburger button above everything */
  z-index: 100;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.xIcon {
  display: none;
}

.menu {
  position: fixed;
  font-family: "Work Sans", sans-serif;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: white;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  list-style: none;
  padding-top: 4rem;
  z-index: 10;
  min-height: 800px;
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu li {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuLink {
  display: inline;
  font-size: 2rem;
  padding: 0px 20px;
  color: black;
  text-decoration: none;
}

.menuLink:hover {
  border: 1px solid black;
}

span.menuIcon.material-icons img {
  max-width: 30px;
}

*, ::after, ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
